<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>back_unpressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>left_neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>left_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>left_unpressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{105,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,35}}</string>
                <key>sourceSize</key>
                <string>{105,35}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{130,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,45}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>off.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>on.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>play_neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>play_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,2},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>play_unpressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,2},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>right_neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>right_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>right_unpressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,2},{130,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,45}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textSprites.png</string>
            <key>size</key>
            <string>{1903,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9413d6eabdea2d00cddd73174c1395fc:f3a67dff627cf17712a1b2d34d28b7c5:4e69292537b0d61a16d962b76a176646$</string>
            <key>textureFileName</key>
            <string>textSprites.png</string>
        </dict>
    </dict>
</plist>
